/* 统一标题区域高度和间距 */
.slidev-layout h1 {
  min-height: 2.5rem;
  margin-bottom: 2rem !important;
  padding-bottom: 1rem;
}

/* 封面页背景 */
.slidev-page-1 {
  background-image: url('/LPC2025_slide_bg_a.jpg') !important;
  background-size: cover !important;
  background-position: center !important;
}
