@font-face {
    font-family: 'Latin Modern Math';
    font-style: normal;
    font-weight: 400;
    src: local('Latin Modern Math'), url('https://fonts.cdnfonts.com/s/89532/LatinmodernmathRegular-z8EBa.woff') format('woff');
}


